.ec-stars-wrapper {
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
	margin-left: 5px;
}

.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(53, 253, 27);
}

/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */

.ec-stars-wrapper>a:hover~a {
	color: #888;
}

.pregunta1 {
	margin-top: 35px;
}

.pregunta {
	margin-top: 15px;
}

.contenedor {
	padding: 0;
	overflow: hidden;
	max-width: 300px;
	margin: auto;
	margin-top: 20%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

main .contenedor .contenedor-input {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

main .contenedor .contenedor-input label {
	display: block;
	color: #fff;
	font-size: 25px;
	font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 10px;
}

input[type="text"] {
	width: 100%;
	border: 2px solid #aaa;
	border-radius: 10px;
	margin: 8px 0;
	outline: none;
	padding: 12px;
	box-sizing: border-box;
	transition: 0.3s;
	font-size: 16px;
}

input[type="text"]:focus {
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="text"] {
	padding-right: 40px;
}

.inputWithIcon {
	position: relative;
}

.inputWithIcon i {
	position: absolute;
	right: 0;
	top: 8px;
	padding: 15px 8px;
	color: #aaa;
	transition: 0.3s;
	cursor: pointer;
}

.inputWithIcon input[type="text"]:focus+i {
	color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
	background-color: #aaa;
	color: #fff;
	padding: 9px 4px;
	border-radius: 15px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus+i {
	color: #fff;
	background-color: dodgerBlue;
}

.valoracion {
	display: flex;
	justify-content: space-between;
	margin: 15px 0px;
	text-align: left;
}

.likes {
	padding: 5px;
	border: 1px solid rgba(184, 133, 133, 0.9);
	border-radius: 15px;
	margin-right: 15px;
	height: 75px;
	margin-top: auto;
	margin-bottom: auto;
}

.like {
	display: flex;
	justify-content: space-around;
	width: 50px;
	font-size: 20px;
	color: rgba(184, 133, 133, 0.9);
	margin: 5px;
}

.like i {
	cursor: pointer;
}

.like i:hover {
	color: rgb(53, 253, 27);
}

.comentario-fecha .fecha {
	text-align: right;
	margin-bottom: 10px;
}

footer {
	font-size: 10px;
	background: url("../img/bg-blue.png");
	background-size: cover;
	overflow: hidden;
	display: flex;
	justify-content: center;
	width: 100%;
}

footer h2 {
	display: block;
	color: #fff;
	margin: 5px;
}

.horarios{
  display: flex;
  flex-direction: column;
  
  margin: 15px auto;
  margin-left: 15px;
}
.horarios h3:first-child{
  margin: 5px 0px;
  margin-bottom: 5px;
}
.horarios h3:nth-child(2){
  margin-bottom: 20px;
}
.actividad{
  background: url("../img/bg-deportes-panamericanos-atletismo.png");
  background-size: cover;
  color: #fff;
  display: flex;
  margin: 20px auto;
}
.actividad img{
  display: block;
  height: 65%;
  width: 40px;
  margin: 20px;
  margin-right: 0px;
}
.actividad .actividad-contenido{
  display: block;
  margin: 20px;
  font-size: 22px;
}
.actividad .actividad-contenido h3:nth-child(2){
  font-size: 18px;
}
.valoranos{
  margin: 15px auto;
  text-align: center;
}